includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    # Level 9 is the highest level
    level: 9

    ignoreErrors: # All these errors are weird to fix. We will do that lastly,
        -
            message: "#^Access to an undefined property Illuminate\\\\Support\\\\Fluent::.#"

#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false

    checkGenericClassInNonGenericObjectType: false
