@import 'mvp.css';

@import 'toastr/build/toastr.css';


table {
    font-size: 12px;
}


nav {
    margin-bottom: initial;
}

footer,header,main {
    padding: 1rem 1rem;
}

a b,a em,a i,a strong,button,input[type=submit] {
    padding: 0.5rem 1rem
}

.icons {
    vertical-align: top;
    width: 25px;
    height: 25px;
}

.fullwidth {
    display: block;
}

.cellislink {
    background-color: var(--color-link);
    text-align: center !important;
    font-size: medium;
    font-weight: bold;
}

.cellislink:hover {
    cursor: pointer;
    filter: brightness(var(--hover-brightness));
}

.celllinktext {
    color: white;
    display: block;
    width: 100%;
    text-decoration: none;
}

.nobox {
    min-width: initial;
    padding: initial;
    border: initial;
}

.resetmaxwidth {
    max-width: 100%;
    width: 100%;
}

.wrapthoselines {
    word-wrap: break-word;
}

.backgroundgray {
    background-color: lightgrey;
}

.current {
    background-color: mark;
}

.cancelbutton {
    background-color: white;
    color: blue;
}

.aligntextleft {
    text-align: left
}

.fakeinputfield {
    width: calc(100% - 1.6rem);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-bg-secondary);
    margin-top: 0;
    margin-bottom: 16px;
    padding-left: 12.8px;
    padding-right: 12.8px;
    padding-top: 6.4px;
    padding-bottom: 6.4px;
    line-height: normal;
}

:root {
    --width-content: initial;
}